<html>
    <head>
        <title>Social Scoring</title>
    </head>
<body>

<h1>Enter email address here</h1>

<form action="/data" method="POST">
    Email address: <input type="text" name="email">
    <br/>
    <input type="submit">
</form>

</body>
</html>

